
.git/

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

.idea/

.vscode/

/LeadHandlerApi/**/bin/
/LeadHandlerApi/**/obj/
/LeadHandlerApi/**/Debug/
/LeadHandlerApi/**/Release/

/LeadHandlerApi/*.user
/LeadHandlerApi/*.rsuser
/LeadHandlerApi/*.dotCover
/LeadHandlerApi/*.ncrunch*
/LeadHandlerApi/*.log

/LeadHandlerApi/**/secrets.json

/LeadHandlerApi/**/Migrations/*.Snapshot.cs

/LeadHandlerApi/.idea/

/LeadHandlerApi/local.settings.json

.DS_Store
Thumbs.db
